<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
  </head>

  <body>
    {{content}}
    <!-- inject:js -->
    <script src="/assets/javascript/main.js"></script>
    <!-- endinject -->

    {% include analytics.html %}

  </body>

</html>
